$primary-color: #3498db;
$secondary-color: #2ecc71;
$darkgray: #303030;
$accent1: #ffbf00; // Corrected variable name


* {
    box-sizing: border-box; // Include box-sizing for all elements
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
}

body {
    padding-top: 60px;
    background-color: #ECF0F5 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container-fluid{
    padding: 0 10px !important;
}

.navbar {
    background-color: $darkgray !important;
    padding: 5px 0 !important;
    height: 60px;
}

.fixed-top{
    background-color: $darkgray !important;
    padding: 5px 0 !important;
}

.navbar-brand h2 {
    font-style: italic;
    color: $accent1;
}

.navbar-brand span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand img {
    height: 20px;
}

.sidebar-container {
    position: relative;
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #343a40;
    color: #fff;
    transition: width 0.3s ease;
    overflow-x: hidden;
    z-index: 2000;
}

.sidebar.shrink {
    width: 50px;
}

.sidebar a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #B8C7CE;
    transition: background-color 0.3s;
}

.sidebar a span {
    display: inline;
}

.sidebar.shrink a span {
    display: none;
}

.sidebar a i,
.sidebar a img {
    margin-right: 10px; /* Adjust the margin as needed */
    font-size: 1.2rem; /* Adjust the font size as needed */
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar a:hover {
    background-color: #555;
}

.sidebar a.active {
    // background-color: #4CAF50; /* Active link background color */
    color: white; /* Active link text color */
    border-left: 3px solid #ffbf00;
}

/* Additional styling for the toggle button */
#toggleButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 260px;
    color: white;
    z-index: 2000; /* Ensure a higher z-index value */
    transition: left 0.3s;
}

.signup-container,
.login-container {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.signup-container .form-group,
.login-container .form-group {
    margin-bottom: 20px;
}

.signup-container h2,
.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.content {
    width: 100%;
    height: calc(100vh - 60px);
    margin-left: 250px;
    padding: 15px;
    transition: margin-left 0.3s ease;
}

.box {
    position: relative;
    border-radius: 3px;
    background-color: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow:  0 1px 1px rgba(0,0,0,0.1);
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header .box-title {
    display: inline-block;
    font-size: 14px;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
}