<!-- views/dashboard.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/main-css/main.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <!-- Add your custom stylesheets as needed -->
</head>
<body>
    <%- include('navbar.ejs') %>

    <!-- Sidebar -->
    <div class="sidebar-container">
        <div class="sidebar" id="sidebar">
            <a href="#" style="height: 60px; background-color: #303030">
                <img src="/images/logo.png" alt="Logo">
                <span>
                    <h6 class="d-flex align-center ps-2 fw-bold" style="color: #ffbf00; font-family: Times New Roman;">FAR EAST FUEL<br>CORPORATION</h6>
                </span>
            </a>

            <a href="/dashboard" class="active">
                <i class="fas fa-th-large"></i>
                <span class="link-text">Dashboard</span>
            </a>
            <a href="/dashboard/booked_transactions">
                <i class="fa-solid fa-clipboard-list"></i>
                <span class="link-text">Booked Transactions</span>
            </a>
            <a href="/dashboard/clients">
                <i class="fa-solid fa-users"></i>
                <span class="link-text">Clients</span>
            </a>
            <a href="/dashboard/type_of_waste">
                <i class="fa-solid fa-table-list"></i>
                <span class="link-text">Type of Wastes</span>
            </a>
            <a href="/dashboard/quotations">
                <i class="fa-solid fa-file-circle-plus"></i>
                <span class="link-text">Quotations</span>
            </a>
            <a href="/dashboard/commissions">
                <i class="fa-solid fa-sack-dollar"></i>
                <span class="link-text">Commissions</span>
            </a>
            <a href="/logout">
                <i class="fa-solid fa-power-off"></i>
                <span class="link-text">Logout</span>
            </a>
        </div>
        <!-- Toggle Button -->
        <button onclick="toggleSidebar()" id="toggleButton">
            <i class="fas fa-bars"></i>
        </button>
    </div>

    <!-- Page content -->
    <div class="content">
        <div class="col-xs-12">
        <!-- dashboard -->
        <section class="marketing" id="marketing_dashboard">
            <h4>DASHBOARD</h4><br>
            <h5>BOOKING SUMMARY</h5>
            <div class="row">
                <div class="cards col-9 booked">
                    <div class="card">
                        <div class="card-content">
                            <div class="number" id="booked_transactions">0</div>
                            <div class="card-name">Booked</div>
                        </div>
                        <div class="icon-box">
                            <i class="fa-solid fa-book-bookmark"></i>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="number" id="for_hauling">0</div>
                            <div class="card-name">For Hauling</div>
                        </div>
                        <div class="icon-box">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="number" id="for_receiving">0</div>
                            <div class="card-name">For Receiving</div>
                        </div>
                        <div class="icon-box">
                            <i class="fa-solid fa-truck-ramp-box"></i>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="number" id="for_warehousing">0</div>
                            <div class="card-name">For Warehousing</div>
                        </div>
                        <div class="icon-box">
                            <i class="fa-solid fa-warehouse"></i>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="number" id="for_sorting">0</div>
                            <div class="card-name">For Sorting</div>
                        </div>
                        <div class="icon-box">
                            <i class="fa-solid fa-shuffle"></i>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="number" id="for_treatment">0</div>
                            <div class="card-name">For Treatment</div>
                        </div>
                        <div class="icon-box">
                            <i class="fa-solid fa-fire-burner"></i>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="number" id="for_certification">0</div>
                            <div class="card-name">For Certification</div>
                        </div>
                        <div class="icon-box">
                            <i class="fa-solid fa-stamp"></i>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="number" id="for_billing">0</div>
                            <div class="card-name">For Billing</div>
                        </div>
                        <div class="icon-box">
                            <i class="fa-solid fa-file-invoice"></i>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="number" id="for_collection">0</div>
                            <div class="card-name">For Collection</div>
                        </div>
                        <div class="icon-box">
                            <i class="fa-solid fa-sack-dollar"></i>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="number" id="finished">0</div>
                            <div class="card-name">Finished</div>
                        </div>
                        <div class="icon-box">
                            <i class="fa-solid fa-clipboard-check"></i>
                        </div>
                    </div>
                </div>
                <div class="chart col-3">
                    <div style="position: relative; width: calc(100% - 20px);">
                        <div id="pieChart">
                        </div>
                    </div>
                </div>
            </div>

        </section>
        </div>
    </div>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.37.1/apexcharts.min.js"></script>
    <%- include('scripts.ejs') %>
    <%- include('marketing/marketing_scripts.ejs') %>
</body>
</html>
