<!-- views/home.ejs -->

<%- include('head.ejs') %>
<%- include('navbar.ejs') %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Welcome to FAR EAST FUEL CORPORATION</h2>
                <p>Choose an action:</p>
                <a href="/signup" class="btn btn-primary">Sign Up</a>
                <a href="/login" class="btn btn-primary">Log In</a>
            </div>
        </div>
    </div>

    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</body>
</html>