<!-- views/marketing/booked_transactions.ejs -->

<div class="content">
    <h1>December 2023</h1>
    <table class="calendar">
        <thead>
            <tr>
                <th>SUNDAY</th>
                <th>MONDAY</th>
                <th>TUESDAY</th>
                <th>WEDNESDAY</th>
                <th>THURSDAY</th>
                <th>FRIDAY</th>
                <th>SATURDAY</th>
            </tr>
        </thead>
        <tbody id="calendar_days"></tbody>
    </table>
</div>

<script>
    generateCalendarDays(2023, 11)

    function generateCalendarDays(year, month) {
        // const hauling_date = marketing_transaction_form.querySelector("#hauling_date");
        const calendar_days = document.getElementById("calendar_days")

        calendar_days.innerHTML = '';
        // Get the number of days in the month
        var daysInMonth = new Date(year, month + 1, 0).getDate();
    
        // Get the first day of the month (0 = Sunday, 1 = Monday, ..., 6 = Saturday)
        var firstDay = new Date(year, month, 1).getDay();
    
        // Initialize an array to store the day values
        var dayValues = [];
    
        // Generate day values
        for (var day = 1; day <= daysInMonth; day++) {
            dayValues.push(day);
        }
    
        // Generate the table rows
        var rows = Math.ceil((daysInMonth + firstDay) / 7);
    
        for (var i = 0; i < rows; i++) {
            var row = document.createElement("tr");
    
            for (var j = 0; j < 7; j++) {
                var cell = document.createElement("td");
                var index = i * 7 + j - firstDay;
    
                if (index >= 0 && index < daysInMonth) {
                    // Create a span for the day value
                    var div_element = document.createElement("div");
                    div_element.classList.add("td_header");
    
                    var daySpan = document.createElement("span");
                    daySpan.textContent = dayValues[index];
    
                    // Add a class to the td element based on the date
                    cell.classList.add("date-" + dayValues[index]);
    
                    // Create a button for booking
                    var bookButton = document.createElement("button");
                    bookButton.textContent = "Book";
                    // Set class for the "Book" button
                    bookButton.classList.add("py-0");
                    bookButton.classList.add("btn");
                    bookButton.classList.add("btn-success");
                    bookButton.classList.add("book-button");

                    // Create a div for "Available slot"
                    var availableSlotDiv = document.createElement("div");
                    availableSlotDiv.textContent = "Available Vehicles:";
                    // Set class for the "Available slot" div
                    availableSlotDiv.classList.add("available_slot");

                    var total_vehicle_day = [];
                    var vehicle_type_day = [];
                    // for(let x = 1; x < vehicle_data_list.content.length; x++){
                    //     if(!vehicle_type_day.includes(vehicle_data_list.content[x][findTextInArray(vehicle_data_list, "CODE")])){
                    //         vehicle_type_day.push(vehicle_data_list.content[x][findTextInArray(vehicle_data_list, "CODE")])
                    //         total_vehicle_day[vehicle_data_list.content[x][findTextInArray(vehicle_data_list, "CODE")]] = 1;
                    //     }
                    //     else{
                    //         total_vehicle_day[vehicle_data_list.content[x][findTextInArray(vehicle_data_list, "CODE")]]++;
                    //     }
                    // }

                    var date_format = year + '-' + (month + 1).toString().padStart(2, "0") + '-' + (dayValues[index]).toString().padStart(2, "0");
                    
                    var booked_vehicle_day = [];
                    var booked_vehicle_type_day = [];
                    var book_logistics = 0
                    var book_receiving = 0
                    // for(let x = 1; x < mtf_data_list.content.length; x++){
                    //     if(date_format == date_decoder2(mtf_data_list.content[x][findTextInArray(mtf_data_list, "HAULING DATE")])){
                    //         if(mtf_data_list.content[x][findTextInArray(mtf_data_list, "SUBMIT TO")] == "LOGISTICS"){
                    //             var vehicle_code;
                    //             for(let y = 1; y < vehicle_data_list.content.length; y++){
                    //                 if(vehicle_data_list.content[y][findTextInArray(vehicle_data_list, "TYPE OF VEHICLE")] == mtf_data_list.content[x][findTextInArray(mtf_data_list, "TYPE OF VEHICLE")]){
                    //                     vehicle_code = vehicle_data_list.content[y][findTextInArray(vehicle_data_list, "CODE")]
                    //                     break
                    //                 }
                    //             }
                    //             if(!booked_vehicle_type_day.includes(vehicle_code)){
                    //                 booked_vehicle_type_day.push(vehicle_code)
                    //                 booked_vehicle_day[vehicle_code] = 1;
                    //             }
                    //             else{
                    //                 booked_vehicle_day[vehicle_code]++;
                    //             }
                    //             book_logistics += 1;
                    //         }
                    //         else if(mtf_data_list.content[x][findTextInArray(mtf_data_list, "SUBMIT TO")] == "RECEIVING"){
                    //             book_receiving += 1;
                    //         }
                    //     }
                    // }
                            
                    // Create a div for "Booked slot"
                    var bookSlotDiv = document.createElement("div");
                    bookSlotDiv.innerHTML = `Booked Transactions:<b>${book_logistics + book_receiving}</b><br>Logistics:<b>${book_logistics}</b> - Receiving:<b>${book_receiving}</b>`;
                    // Set class for the "Booked slot" div
                    bookSlotDiv.classList.add("book_slot");

                    var available_vehicle_div = document.createElement("div")
                    available_vehicle_div.classList.add("available_vehicle_class");
                    
                    // vehicle_type.forEach((data, index) => {
                    //     var vehicle_div = document.createElement("div");
                    //     vehicle_div.classList.add("vehicle_div");
                    //     var actual_count = 0;
                    //     if(total_vehicle[vehicle_type[index]] - booked_vehicle_day[vehicle_type[index]] < 0){
                    //         actual_count = total_vehicle[vehicle_type[index]];
                    //     }
                    //     if(total_vehicle[vehicle_type[index]] - booked_vehicle_day[vehicle_type[index]] >= 0){
                    //         actual_count = total_vehicle[vehicle_type[index]] - booked_vehicle_day[vehicle_type[index]];
                    //     }
                    //     else{
                    //         actual_count = total_vehicle[vehicle_type[index]]
                    //     }
                    //     vehicle_div.textContent = `${data} : ${actual_count}/${total_vehicle[vehicle_type[index]]}`
                    //     available_vehicle_div.appendChild(vehicle_div);
                    // })

                    // Append the day value, the button, and the "Available slot" div to the cell
                    div_element.appendChild(daySpan);
                    div_element.appendChild(bookButton);
                    cell.appendChild(div_element);
                    cell.appendChild(bookSlotDiv);
                    cell.appendChild(availableSlotDiv);
                    cell.appendChild(available_vehicle_div);
    
                    // Add click event listener to the "Book" button
                    bookButton.addEventListener("click", function (event) {
                        // Get the date from the clicked button's parent td element
                        var clickedDate = event.currentTarget.parentElement.querySelector('.td_header span').textContent;
    
                        // Format the date (assuming simple formatting for illustration purposes)
                        var formattedDate = year + '-' + (month + 1).toString().padStart(2, "0") + '-' + clickedDate.toString().padStart(2, "0");
    
                        // Set the hauling_date input value
                        hauling_date.value = formattedDate;
    
                        // Show the form
                        form_tab_marketing_transaction_form.style.display = "block";
                    });
                } else {
                    // Set background color to gray for cells without a number
                    cell.style.backgroundColor = 'gray';
                }
    
                row.appendChild(cell);
            }
    
            calendar_days.appendChild(row);
        }
    }
</script>